{% extends "base.html" %}
{% block content %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}" class="container shadow p-3 mb-5 border rounded p-4 bg-light">
    <span class="fs-3">Login</span>
    <hr>
    {% if form.errors %}
      <div class="text-danger">Your username and password didn't match. Please try again.</div>
    {% endif %}
    <table>
      <tr>
        <div class="mb-3">
          <td class="form-label">{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
      </div>
      </tr>
      <tr>
        <div class="mb-3">
          <td class="form-label">{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </div>
      </tr>
    </table>
    <br>
    <input type="submit" value="login" class="btn btn-primary"/>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  {% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}
  <script>
      username=document.getElementById("id_username");
      password=document.getElementById("id_password");
      username.classList.add("form-control");
      password.classList.add("form-control");
  </script>
{% endblock %}

