{% extends "base.html" %}
{% load loan_extras %}
{% block content %}
  <div class="shadow border rounded p-4 bg-light"> 
  {% if detail_list %}
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">User</th>
          <th scope="col">Name</th>
          <th scope="col">DEPT</th>
          <th scope="col">Ph_No</th>
          <th scope="col">Shrd_Amt</th>
          <th scope="col">Savings</th>
          <th scope="col">Loan_bal</th>
          <th scope="col">E_M_I</th>
          <th scope="col">End_bal</th>
          <th scope="col">Loan_Stats</th>
          <th scope="col">Status</th>
          <th scope="col">Transactions</th>
          <th scope="col">History</th>
        </tr>
      </thead>
      <tbody>
        {% for file in detail_list %}
          <tr>
            <td scope="col">{{ file.username }}</td>
            <td scope="col">{{ file.name }}</td>
            <td scope="col">{{ file.department }}</td>
            <td scope="col">{{ file.phone }}</td>
            <td scope="col">{{ file.shared_amount }}</td>
            <td scope="col">{{ file.savings }}</td>
            <td scope="col">{{ file.loan_balance }}</td>
            <td scope="col">{{ file.emi }}</td>
            <td scope="col">{{ file.loan_left }}</td>
            {% if file|check_loan == 1 %}
            <td><p class="btn btn-success px-0 py-0">Closed</p></td>
            {% elif file|check_loan == 2 %}
            <td><p class="btn btn-warning px-0 py-0">Running</p></td>
            {% else %}
            <td><p class="btn btn-danger px-0 py-0">Open</p></td>
            {% endif %}
            {% if file|check_loan == 1 %}
            <td><a href="{% url 'loan_form' name=file.username dept=file.department %}" class="btn btn-info px-0 py-0 mx-0">Available</a></td>
            {% else %}
            <td><p class="btn btn-danger px-0 py-0">NA</p></td>
            {% endif %}
            {% if file|check_loan == 1 %}
            <td><p class="btn btn-danger px-0 py-0">NA</p></td>
            {% else %}
            <td><a href="{% url 'update_form' name=file.username dept=file.department %}" class="btn btn-info px-0 py-0 mx-0">Update</a></td>
            {% endif %}
            <td><a href="{% url 'history' name=file.username %}" class="btn btn-info px-0 py-0 mx-0">History</a></td>
          </tr>
          {% endfor %}
      </tbody>
    </table> 
  </div>
  {% else %}
    <div class="fs-4">There are no files.</div>
  {% endif %}
 <div>
{% endblock %}